<p-toast/>
<div class="card">

  <div class="card-body">
    <h6 class="text-lg text-gray-500 font-semibold mb-6">Article</h6>
    <div class="card">
      <p-table

        [value]="articlesList"
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '75rem' }"
      >
        <ng-template pTemplate="caption">
          <div class="flex justify-between mb-3">
            <input
              class="py-3 px-4 text-gray-500 block border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 "
              type="text"
              (input)="filterGlobal($event)"
              placeholder="Recherche un Article"/>

            <p-button
              pTooltip="Ajouter un Article"
              tooltipPosition="top"
              icon="fa-solid fa-plus"
              (click)="showAddArticleModal()"
            />

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Libelle</th>
            <th>Prix Unitaire</th>
            <th>Action</th>

          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-article let-index="rowIndex">
          <tr>
            <td>
              {{ index + 1 }}
            </td>
            <td>
              {{ article.libelle }}
            </td>
            <td>

              <span class="ml-1 vertical-align-middle">
                    {{ article.prix_unitaire }}
                </span>
            </td>
            <td>
              <div class=" flex items-center gap-3 justify-center">
                <i
                  class="fa-solid fa-edit" style="color: blue"
                  (click)="editArticle(article.id)"
                ></i>
                <i
                  class="fa-solid fa-trash" style="color: red"
                  (click)="deleteArticle(article.id)"
                ></i>
              </div>

            </td>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="text-center">
            <td colspan="4">
              <p class="justify-center items-center font-medium text-center">No articles found.</p>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


</div>

<p-dialog
  header="Ajout Article"
  [(visible)]="visibleaddmoal"
  [style]="{ width: '25vw' }"
  [modal]="true"
  [resizable]="false"
  [baseZIndex]="10000"
>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="OnSubmit()">
        <div class="mb-6">
          <label for="input-label-with-helper-text"
                 class="block text-sm mb-2 text-gray-400">Libelle</label>
          <input type="text" id="input-label-with-helper-text" formControlName="libelle"
                 class="py-3 px-4 text-gray-500 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 "
                  aria-describedby="hs-input-helper-text">


            <p  *ngIf="form.get('libelle')?.errors?.['required'] && form.get('libelle')?.touched" class="text-sm text-red-500  text-gray-400 opacity-75 mt-2" id="hs-input-helper-text">
              ce champ est obligatoire
            </p>


        </div>
        <div class="mb-6">
          <label for="input-label-with-helper-text1"
                 class="block text-sm mb-2 text-gray-400">Prix Unitaire</label>
          <input type="number" id="input-label-with-helper-text1" formControlName="prix_unitaire"
                 class="py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 "
                 aria-describedby="hs-input-helper-text">


            <p *ngIf="form.get('prix_unitaire')?.errors?.['required'] && form.get('prix_unitaire')?.touched" class="text-sm text-red-500  text-gray-400 opacity-75 mt-2" id="hs-input-helper-text">
              ce champ est obligatoire
            </p>

        </div>

        <button type="submit" class="btn text-base py-2.5 w-full text-white font-medium w-fit hover:bg-blue-700" [hidden]="!form.valid">Submit</button>
      </form>
    </div>
  </div>

</p-dialog>

<p-dialog
  header="Edit Article"
  [(visible)]="visibleeditmoal"
  [style]="{ width: '25vw' }"
  [modal]="true"
  [resizable]="false"
  [baseZIndex]="10000"
>
  @if (article){
    <form [formGroup]="form" (ngSubmit)="UpdataeArticle()">
      <div class="mb-6">
        <label for="uinput-label-with-helper-text"
               class="block text-sm mb-2 text-gray-400">Libelle</label>
        <input type="text" id="uinput-label-with-helper-text" formControlName="libelle"
               class="py-3 px-4 text-gray-500 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 "
               aria-describedby="hs-input-helper-text">


        <p  *ngIf="form.get('libelle')?.errors?.['required'] && form.get('libelle')?.touched" class="text-sm text-red-500  text-gray-400 opacity-75 mt-2" id="hs-input-helper-text">
          ce champ est obligatoire
        </p>


      </div>
      <div class="mb-6">
        <label for="uinput-label-with-helper-text1"
               class="block text-sm mb-2 text-gray-400">Prix Unitaire</label>
        <input type="number" id="uinput-label-with-helper-text1" formControlName="prix_unitaire"
               class="py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 "
               aria-describedby="hs-input-helper-text">


        <p *ngIf="form.get('prix_unitaire')?.errors?.['required'] && form.get('prix_unitaire')?.touched" class="text-sm text-red-500  text-gray-400 opacity-75 mt-2" id="hs-input-helper-text">
          ce champ est obligatoire
        </p>

      </div>

      <button type="submit" class="btn text-base py-2.5 w-full text-white font-medium w-fit hover:bg-blue-700" [hidden]="!form.valid">Submit</button>
    </form>
  }

</p-dialog>
