<p-toast/>
<div class="card">
    @if (loading) {
        <app-loader/>
    } @else {
        <p-table

            [value]="projetlist"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            [paginator]="true"
            stripedRows
            [tableStyle]="{'min-width': '50rem'}"
        >
            <ng-template #caption>
                <div class="flex justify-between items-center mb-3">

                    <input
                        pInputText
                        type="text"
                        (input)="filterProjet($event)"
                        placeholder="Recherche un Projet"/>

                    <div class="flex justify-around items-center ">
                        <p-button
                            class="mx-1"
                            pTooltip="Ajouter un Projet"
                            tooltipPosition="top"
                            icon="fa-solid fa-plus"
                            (click)="showDialog()"
                        />
                        <p-button
                            class="mx-1"
                            pTooltip="Recharge les Projets"
                            tooltipPosition="top"
                            icon="fa-solid fa-refresh"
                            (click)="getProjets()"
                        />

                    </div>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th>#</th>
                    <th>Projet Type</th>
                    <th>Description</th>
                    <th>Client</th>
                    <th>Offre</th>
                    <th>Creer le .</th>
                    <th>Mise a jour le .</th>
                    <th>Action</th>
                </tr>

            </ng-template>
            <ng-template #body let-projet let-index="rowIndex">
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ projet.projet_type }}</td>
                    <td>{{ projet.description }}</td>
                    <td>{{ projet.client }}</td>
                    <td>
                        <p-toggleswitch
                            [pTooltip]="projet.offre ? 'Oui' : 'Nom'"
                            tooltipPosition="top"
                            [(ngModel)]="projet.offre"
                            (onChange)="changeOffre(projet.id)"></p-toggleswitch>
                    </td>
                    <td>{{ projet.create_at|date }}</td>
                    <td>{{ projet.update_at|date }}</td>
                    <td>
                        <p-button
                            severity="secondary"
                            class="mx-1"
                            pTooltip="Modifier"
                            tooltipPosition="top"
                            icon="fa-solid fa-edit"
                            (click)="showEditDialog(projet.id)"
                        />
                        <p-button
                            severity="danger"
                            class="mx-1"
                            pTooltip="Supprimer"
                            tooltipPosition="top"
                            icon="fa-solid fa-trash"
                            (click)="deleteProjet(projet.id)"
                        />
                </tr>
            </ng-template>
        </p-table>
    }
</div>


<p-dialog
    [header]="dialogheader"
    [(visible)]="visibleaddmoal"
    [style]="{width: '35rem'}"
    [modal]="true"
    [resizable]="false"
    [baseZIndex]="10000"
    [contentStyle]="{'max-height': '80vh', 'overflow': 'auto'}"

>
    <form [formGroup]="form" (ngSubmit)="saveProjet()">
        <div class="flow-root mb-3">
            <div class="grid gap-5 grid-cols-1 grid-rows-2">
                <div>
                    <label for="projet_type" class="block text-sm font-medium text-gray-700">Type de Projet</label>
                    <input pInputText type="text" id="projet_type" autocomplete="projet_type"
                           formControlName="projet_type"
                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div>
                    <label for="in_label_client">Client</label>
                    <p-select inputId="in_label_client" id="in_label_client" formControlName="client_id"
                              [options]="clients"
                              optionLabel="sigle"
                              optionValue="id"
                              [editable]="true"
                              styleClass="w-full"></p-select>
                </div>
            </div>
        </div>
        <div class="flow-root mb-3">
            <div class="grid gap-2 grid-cols-1 grid-rows-none">
                <div>
                    <p-floatlabel variant="in">
                        <textarea pTextarea id="over_label" formControlName="description" rows="5" cols="30"
                                  style="resize: none" class="h-full w-full"></textarea>
                        <label for="in_label">Description</label>
                    </p-floatlabel>
                </div>

            </div>
        </div>

        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
            <div class="flex items-center">
                <p-checkbox formControlName="offre" id="rememberme1" binary class="mr-2"></p-checkbox>
                <label for="rememberme1">Offre</label>
            </div>

        </div>
        <div class="flex items-start justify-between mt-2">
            <p-button icon="pi pi-plus" styleClass="w-full" type="submit" [disabled]="form.invalid"></p-button>
        </div>
    </form>
</p-dialog>

<!--Update -->
<p-dialog
    [header]="dialogheader"
    [(visible)]="visibleeditmoal"
    [style]="{width: '35rem'}"
    [modal]="true"
    [resizable]="false"
    [baseZIndex]="10000"
    [contentStyle]="{'max-height': '80vh', 'overflow': 'auto'}"

>
    <form [formGroup]="formupdate" (ngSubmit)="updateProjet()">
        <div class="flow-root mb-3">
            <div class="grid gap-5 grid-cols-1 grid-rows-none">
                <div>
                    <label for="projet_typeu" class="block text-sm font-medium text-gray-700">Type de Projet</label>
                    <input pInputText type="text" id="projet_typeu" autocomplete="projet_type"
                           formControlName="projet_type"
                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>

            </div>
        </div>
        <div class="flow-root mb-3">
            <div class="grid gap-2 grid-cols-1 grid-rows-none">
                <div>
                    <p-floatlabel variant="in">
                        <textarea pTextarea id="over_labelu" formControlName="description" rows="5" cols="30"
                                  style="resize: none" class="h-full w-full"></textarea>
                        <label for="over_labelu">Description</label>
                    </p-floatlabel>
                </div>

            </div>
        </div>

        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
            <div class="flex items-center">
                <p-checkbox formControlName="offre" id="offre" binary class="mr-2"></p-checkbox>
                <label for="offre">Offre</label>
            </div>

        </div>
        <div class="flex items-start justify-between mt-2">
            <p-button label="Update" styleClass="w-full" type="submit" [disabled]="formupdate.invalid"></p-button>
        </div>
    </form>
</p-dialog>
