<p-toast/>
<div class="card">
    @if (loading) {
        <app-loader/>
    } @else {
        <p-table

            [value]="facturelist"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            [paginator]="true"
            stripedRows
            [tableStyle]="{'min-width': '50rem'}"
        >
            <ng-template #caption>
                <div class="flex justify-between items-center mb-3">

                    <input
                        pInputText
                        type="text"
                        (input)="filterFacture($event)"
                        placeholder="Recherche par Numero"/>

                    <div class="flex justify-around items-center ">
                        <p-button
                            class="mx-1"
                            pTooltip="Ajouter un Facture"
                            tooltipPosition="top"
                            icon="fa-solid fa-plus"
                            (click)="showDialog()"
                        />
                        <p-button
                            class="mx-1"
                            pTooltip="Recharge les Factures"
                            tooltipPosition="top"
                            icon="fa-solid fa-refresh"
                            (click)="getAllFacture()"
                        />

                    </div>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th>#</th>
                    <th>Reference</th>
                    <th>Numero</th>
                    <th>total_ht</th>
                    <th>total_tva</th>
                    <th>total_ttc</th>
                    <th>Client</th>
                    <th>Creer le</th>
                    <th>Signer par -</th>
                    <th>Report</th>
                    <th>Action</th>
                </tr>

            </ng-template>
            <ng-template #body let-facture let-index="rowIndex">
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ facture.reference }}</td>
                    <td>{{ facture.numero }}</td>
                    <td>{{ facture.total_ht }}</td>
                    <td>{{ facture.total_tva }}</td>
                    <td>{{ facture.total_ttc }}</td>
                    <td>{{ facture.client }}</td>
                    <td>{{ facture.date|date }}</td>
                    <td>{{ facture.signby }}</td>
                    <td>

                        <div class="flex justify-around items-center ">
                            <p-button
                                pTooltip="Genere le Document"
                                tooltipPosition="top"
                                icon="pi pi-fw pi-file"
                                (click)="generate(facture.numero)"
                            />

                        </div>

                    </td>
                    <td>
                        <div class="flex justify-around items-center ">
                            <!-- <p-button

                                 pTooltip="Modifier"
                                 tooltipPosition="top"
                                 icon="fa-solid fa-edit"
                                 (click)="showEditDialog(facture.id)"
                             />-->
                            <p-button
                                severity="danger"
                                class="mx-1"
                                pTooltip="Supprimer"
                                tooltipPosition="top"
                                icon="fa-solid fa-trash"
                                (click)="deletefacture(facture.id)"
                            />
                            <p-button
                                severity="primary"
                                pTooltip="Telechager le PDF"
                                tooltipPosition="top"
                                icon="fa-solid fa-download"
                                (click)="download(facture.numero)"
                            />
                        </div>
                </tr>
            </ng-template>
        </p-table>
    }
</div>
